<section class="sc-track">

  <div class="btn-back">
    <ng-md-icon icon="keyboard_backspace" size="50px" ng-click="goToMain()"></ng-md-icon>
  </div>

  <section class="img-container">
    <img ng-src="{{track.artwork_url | scArtworkSize : 500}}" alt="Image" ng-click="playTrigger()">
  </section>

  <embed allowscriptaccess="always"
         class="player-widget"
         height="81"
         type="application/x-shockwave-flash"
         width="100%"
         track-src="{{track.uri}}"
         name="myPlayerName"></embed>

</section>

