<section class="sc-container">

  <section class="sc-search">
    <div class="col-xs-8 col-sm-5 col-md-5">
      <md-input-container>
        <label>Search In SoundCloud...</label>
        <input ng-model="searchInput" ng-enter="searchByText()">
      </md-input-container>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <md-button ng-click="searchByText()">Go</md-button>
    </div>
    <div class="col-sm-5 col-md-5 hidden-xs">
      <div class="col-sm-6 col-md-6 icons-container">
        <ng-md-icon icon="list" size="32px" ng-click="setCurrentViewMode(viewModes.list)"></ng-md-icon>
        <ng-md-icon icon="view_module" size="32px" ng-click="setCurrentViewMode(viewModes.tile)"></ng-md-icon>
      </div>
      <md-input-container class="col-sm-6 col-md-6">
        <md-switch class="md-primary" aria-label="History" ng-model="isRecentSearchClosed">
          History
        </md-switch>
      </md-input-container>
    </div>


  </section>

  <section class="sc-content" ng-class="{'full': !isRecentSearchClosed}">
    <div class="loader center-block col-xs-12 col-sm-12 col-md-12" ng-show="isLoader">
      <md-progress-circular class="md-hue-2 text-center" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-hide="isLoader" ng-switch="currentViewMode" class="sc-results">
      <div ng-switch-when="1" class="sc-results">
        <section class="nm-card col-xs-4 col-sm-4 col-md-4"
                 ng-click="openTrack(track)"
                 dir-paginate="track in tracks | itemsPerPage: chunkSize">
          <div class="card-container">
            <div class="details vertical-align-text">
              <!--<span>{{track.title | shortTitle}}</span>-->
              <span>{{track.title}}</span>
            </div>
            <div class="card-image" ng-class="{'err-img': !track.artwork_url}">
              <img is-gallery="true" ng-src="{{track.artwork_url | scArtworkSize : 300}}">
              <div class="genre">
                <span class="grey"><u>Genre</u>: {{track.genre || "No genre"}}</span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div ng-switch-default class="container-fluid sc-results">
        <div class="sc-list-item" dir-paginate="track in tracks | itemsPerPage: chunkSize">
          <div class="sc-list-item-container" ng-click="openTrack(track)">
            <div class="sc-item-list-img vertical-align" ng-class="{'err-img': !track.artwork_url}">
              <img ng-src="{{track.artwork_url}}">
            </div>
            <div class="sc-item-list-details">
              <div>{{track.title}}</div>
              <div class="grey"><u>Genre</u>: {{track.genre || "No Genre"}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sc-recent-searches hidden-xs" ng-class="{'closed': !isRecentSearchClosed}">
    <md-list>
      <md-subheader class="md-no-sticky">Last searches</md-subheader>
      <md-divider></md-divider>
      <md-list-item ng-repeat="item in searchQueries | limitTo:5 track by $index" ng-click="searchByText(item)">
        <p> {{ item }} </p>
      </md-list-item>
    </md-list>
  </section>

  <section class="sc-pagination text-center">
    <dir-pagination-controls></dir-pagination-controls>
  </section>

</section>

