<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a class="pure-menu-heading" href="">angular-kickstart <span app-version></span></a>
  <ul>
    <li ui-sref-active="pure-menu-selected">
      <a href ui-sref="root.home">{{ 'home' | uppercase }}</a>
    </li>
  </ul>
</div>
