$galleryHeaderHeight: 60px;
$animationDurFooter: 1s;
$galleryFooterHeight: 70px;
$controllersWidth: 80px;
$cardPadding: 10px;
$recentContainerWidth: 140px;
$mainColor: rgba(0, 0, 0, 0.66);

@import 'settings', 'mixins', 'base', 'helpers', 'modules/island', 'modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states';

body {
  background-color: rgba(48, 48, 48, 0.11);
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  header {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    border-bottom: 8px solid $mainColor;
    font-size: x-large;
    font-weight: bolder;
    color: $mainColor;
    height: 50px;
    overflow: hidden;
  }
}

.loader {
  min-height: 500px;

  md-progress-circular {
    margin: 0 auto;
    margin-top: 25%;
  }
}

.sc-main-app {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.sc-container {

  //  $height_search: 65px;
  $height_search: 65px;
  $height_pagination: 50px;
  $padding_content: 150px;
  $padding_content_full: 50px;
  $content_animation_duration: 500ms;
  $results_animation_duration: 500ms;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &, & > * {
    overflow: hidden;
    //    border: 1px red solid;
  }

  .sc-search {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $height_search;
    padding: 0 5%;

    .icons-container {
      line-height: 6;
    }

    .md-button {
      line-height: 50px;
    }

  }

  .sc-content {
    @media (max-width: 768px) {
      right: 0;
      left: 0;
    }

    .grey{
      color: gray;
    }
    img {
      font-size: 6px;
    }


    position: absolute;
    top: $height_search;
    right: $padding_content;
    left: 5%;
    bottom: $height_pagination;
    transition: all $content_animation_duration ease-out;

    &.full {
      right: $padding_content_full;
      transition: all $content_animation_duration ease-in;
    }

    .sc-results {
      height: 100%;
      width: 100%;

      $itemPadding: 5px;
      $imgSize: 60px;

      .sc-list-item {
        position: relative;
        height: 16.3%;
        width: 100%;
        text-align: left;

        &:first-child {
          margin-top: $itemPadding;
        }

        &, * {
          overflow: hidden;
        }

        .sc-list-item-container {
          position: absolute;
          top: $itemPadding;
          bottom: $itemPadding;
          left: $itemPadding;
          right: $itemPadding;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

          .sc-item-list-img {
            position: absolute;
            border-radius: 35px;
            left: $itemPadding*2;
            width: $imgSize;
            height: $imgSize;

            img {
              width: inherit;
              height: inherit;
            }

            &.err-img {
              border: 1px lightgrey solid;
              background: white;
              img {
                object-fit: contain;
              }
            }
          }

          .sc-item-list-details {

            position: absolute;
            top: $itemPadding;
            left: 90px;
            right: $itemPadding;
            bottom: $itemPadding;
            & > * {
              position: absolute;
              font-size: 16px;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            & > *:first-child {
              top: $itemPadding;
            }
            & > *:last-child {
              bottom: $itemPadding;
            }
          }
        }

      }
    }

    md-card {
      margin: 0;
    }

    md-grid-list {
      //      margin: 8px;
    }
    .gray {
      background: #f5f5f5;
    }
    .green {
      background: #b9f6ca;
    }
    .yellow {
      background: #ffff8d;
    }
    .blue {
      background: #84ffff;
    }
    .purple {
      background: #b388ff;
    }
    .red {
      background: #ff8a80;
    }
    md-grid-tile {
      transition: all 400ms ease-out 50ms;
    }
  }

  .sc-recent-searches {
    position: absolute;
    width: $recentContainerWidth;
    right: 0;
    top: $height_search;
    bottom: $height_pagination;
    transition: right $results_animation_duration ease-in;

    &.closed {
      right: -$recentContainerWidth;
      transition: right $results_animation_duration ease-out;
    }

  }

  .sc-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: $height_pagination;
    ul {
      margin: 0;
    }
  }
}

.nm-card {
  height: 50%;

  .card-container {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: $cardPadding;
    left: $cardPadding;
    right: $cardPadding;
    bottom: $cardPadding;
    overflow: hidden;
    border: 1px solid #acacac;
    border-radius: 3px;

    $cardTitleHeight: 28px;

    .details {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $cardTitleHeight;
      text-align: center;
      background: #ffffff;
      padding: 0px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .genre {
      position: absolute;
      text-align: center;
      color: #000000;
      left: 0;
      bottom: 15px;

      opacity: 0;
      transition: opacity .25s ease-out;

      span {
        background-color: rgba(255, 255, 255, 1);
        padding: 5px 10px 5px 5px;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #808080;
        border-left: 0px;
      }
    }

    .card-image {
      position: absolute;
      top: $cardTitleHeight;
      left: 0;
      right: 0;
      bottom: 0;

      &.err-img {
        text-align: center;
        background-color: white;
        img {
          object-fit: contain;
          max-width: 100%;
          width: initial;
        }
      }

      img {
        width: 102%; /* +2% extra: removes embedded border image */
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-left: -1%;
      }

      &:hover {
        .genre {
          opacity: 1;
          transition: opacity .25s ease-in;
        }
      }
    }
  }
}

.sc-track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  left: 5%;

  .btn-back {
    position: absolute;
    top: 0;
  }

  text-align: center;

  .img-container {
    position: absolute;
    top: 0;
    bottom: 120px;
    left: 70px;
    right: 70px;
    overflow: hidden;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .player-widget {
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }

}

.vertical-align {
  top: 50%;
  transform: translateY(-50%);
}



// metirial

.md-subheader.md-default-theme, md-list.md-default-theme md-list-item button {
  background-color: initial;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

md-progress-circular {
  margin-bottom: 20px;
}

md-input-container {
  padding-bottom: 5px;
}

.md-select-label *:first-child {
  line-height: 2.6rem;
}

md-switch.md-default-theme.md-checked.md-primary .md-bar {
  background-color: rgba(0, 0, 0, 0.2);
}

md-switch.md-default-theme.md-checked.md-primary .md-thumb {
  background-color: $mainColor;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
  background-color: $mainColor;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
  color: $mainColor;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
  border-color: $mainColor;
}



// pagination

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #fff;
  background-color: $mainColor;
  border-color: $mainColor;
}

.pagination > li > a, .pagination > li > span {
  color: $mainColor;
  border-color: $mainColor;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  border-color: $mainColor;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: $mainColor;
  border-color: $mainColor;
}

.pagination {
  * {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

section, div, button, img, ng-md-icon, .pagination {
  // remove bootstrap glow
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
