$galleryHeaderHeight: 60px;
$animationDurFooter: 1s;
$galleryFooterHeight: 70px;
$controllersWidth: 80px;
$cardPadding: 10px;
$mainColor: rgba(0, 0, 0, 0.66);

section, div, button, .pagination {
  // remove bootstrap glow
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body {
  background-color: rgba(48, 48, 48, 0.11);
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  header {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    border-bottom: 8px solid $mainColor;
    font-size: x-large;
    font-weight: bolder;
    color: $mainColor;
    height: 50px;
    overflow: hidden;
  }
  .site-content {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
}

.gallery-header {
  position: absolute;
  top: 0;
  right: $controllersWidth;
  left: $controllersWidth;
  height: $galleryHeaderHeight;
  overflow: hidden;
}

.gallery {
  position: absolute;
  top: $galleryHeaderHeight;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  &.remove-footer {

    .controllers {
      cursor: pointer;
      opacity: 1;
      transition: opacity .5s ease-in;
    }
    .content {
      bottom: 0;
      right: 0;
      left: 0;
      transition: bottom $animationDurFooter ease-in;
      &.items-per-page-5 {
        right: $controllersWidth;
        left: $controllersWidth;
      }
    }

    .gallery-footer {
      height: 0;
      transition: height $animationDurFooter ease-out;
    }
  }

  .content {
    position: absolute;
    top: 0;
    overflow: auto;

    left: 40px;
    right: 40px;
    bottom: $galleryFooterHeight;
    transition: all $animationDurFooter ease-out;

  }

  .controllers {
    opacity: 0;
    transition: opacity .5s ease-out;

    cursor: default;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    width: $controllersWidth;

    i {
      width: 98.5%;
      line-height: 55px;
    }

    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }

  .gallery-footer {
    height: $galleryFooterHeight;
    transition: height $animationDurFooter ease-in;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

}

.vertical-align-text {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0.1%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  i, span {
    display: inline-block;
    vertical-align: middle;
    width: 99.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nz-card {
  height: 50%;

  &.items-per-page-15 {
    height: 32%;
  }
  &.items-per-page-20 {
    height: 24%;
  }

  .card-container {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: $cardPadding;
    left: $cardPadding;
    right: $cardPadding;
    bottom: $cardPadding;
    overflow: hidden;
    border: 1px solid #acacac;
    border-radius: 3px;

    $cardTitleHeight: 28px;

    .details {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $cardTitleHeight;
      text-align: center;
      background: #ffffff;
      padding: 0px 10px;
      overflow: hidden;

    }

    .date {
      position: absolute;
      text-align: center;
      color: #000000;
      left: 0;
      bottom: 15px;

      opacity: 0;
      transition: opacity .25s ease-out;

      span {
        background-color: rgba(255, 255, 255, 1);
        padding: 5px 10px 5px 5px;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #808080;
        border-left: 0px;
      }
    }

    .card-image {
      position: absolute;
      top: $cardTitleHeight;
      left: 0;
      right: 0;
      bottom: 0;

      &.err-img {
        text-align: center;
        background-color: white;
        img {
          object-fit: fill;
          max-width: 100%;
          width: initial;
        }
      }

      img {
        width: 102%; /* +2% extra: removes embedded border image */
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-left: -1%;
      }

      &:hover {
        .date {
          opacity: 1;
          transition: opacity .25s ease-in;
        }
      }
    }
  }
}

// modal

.modal-header {
  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

//.modal-footer {
//  .progress-container{
//    margin-right: 35px;
//  }
//}

.modal-body {
  position: relative;
  width: 100%;

  // xs
  @media (max-width: 768px) {
    height: 300px;
    .content {
      line-height: 250px;
    }
  }

  //sm to md
  @media (min-width: 768px) and (max-width: 992px) {
    height: 400px;
    .content {
      line-height: 350px;
    }
  }

  // md and larger
  @media (min-width: 992px) {
    height: 500px;
    .content {
      line-height: 450px;
    }

  }

  .gallery {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    .controllers {
      opacity: 1;
      cursor: pointer;
    }

    .content {
      overflow: hidden;
      left: 80px;
      right: 80px;
      bottom: 0;
      text-align: center;
      height: 100%;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

  }

}

// metirial

md-input-container {
  padding-bottom: 5px;
}

.md-select-label *:first-child {
  line-height: 2.6rem;
}

md-switch.md-default-theme.md-checked.md-primary .md-bar {
  background-color: rgba(0, 0, 0, 0.2);
}

md-switch.md-default-theme.md-checked.md-primary .md-thumb {
  background-color: $mainColor;
}

a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
  background-color: $mainColor;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
  color: $mainColor;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input{
  border-color: $mainColor;
}

// pagination

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  color: #fff;
  background-color: $mainColor;
  border-color: $mainColor;
}

.pagination > li > a, .pagination > li > span {
  color: $mainColor;
  border-color: $mainColor;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  border-color: $mainColor;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: $mainColor;
  border-color: $mainColor;
}

.pagination {
  * {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
